@media screen and (max-width: 800px) {
  main .insurance__cards__block, main .insurance__cards__block .insurance__cards__container {
    display: flex;
    flex-direction: column;
    align-items: center; }

  main .insurance__cards__block .insurance__title, main .conditions__block .block__title, main .packages__block .block__title, main .questions__block .block__title, main .case__block .block__title, main .presentation__block .block__title {
    font-size: 30px;
    font-weight: 550;
    line-height: 30px; }

  .btn {
    width: 100%; }

  main .main__container {
    margin: 20px 0px 30px; }
  main .program__card__block {
    padding: 20px 20px; }
    main .program__card__block .program__card__content {
      display: flex;
      flex-direction: column-reverse; }
      main .program__card__block .program__card__content .program__card__content__left .card__title {
        font-size: 24px;
        line-height: 25px;
        margin-top: 0px;
        margin-bottom: 20px; }
        main .program__card__block .program__card__content .program__card__content__left .card__title span {
          font-weight: 600; }
      main .program__card__block .program__card__content .program__card__content__left .card__text {
        margin-bottom: 20px; }
      main .program__card__block .program__card__content .program__card__content__right {
        display: flex;
        justify-content: center; }
        main .program__card__block .program__card__content .program__card__content__right img {
          width: 350px;
          height: 250px; }
  main .insurance__cards__block {
    margin: 80px 0; }
    main .insurance__cards__block .insurance__title {
      margin-bottom: 20px; }
    main .insurance__cards__block .insurance__cards__container .insurance__item {
      margin-right: 0px;
      margin-top: 35px; }
  main .conditions__block .conditions__container {
    grid-template-columns: 100%;
    padding: 0 20px; }
    main .conditions__block .conditions__container .item__img img {
      width: 350px;
      height: 320px; }
    main .conditions__block .conditions__container .item__img #item__2__img {
      width: 230px;
      height: 400px; }
    main .conditions__block .conditions__container .item__text {
      font-size: 20px;
      line-height: 24px;
      color: #0D1C41; }
      main .conditions__block .conditions__container .item__text p {
        margin-bottom: 35px; }
      main .conditions__block .conditions__container .item__text span {
        font-size: 40px;
        line-height: 40px; }
        main .conditions__block .conditions__container .item__text span:last-child {
          font-size: 20px;
          line-height: 20px; }
    main .conditions__block .conditions__container .item__text__3 #item__3__text {
      font-weight: 600;
      font-size: 29.66px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 20px;
      margin-top: 20px; }
      main .conditions__block .conditions__container .item__text__3 #item__3__text::before {
        margin-right: 27px; }
    main .conditions__block .conditions__container .sum__insurance {
      text-align: center; }
  main .packages__block .packages__container {
    display: flex;
    flex-direction: column; }
    main .packages__block .packages__container .packages__item {
      width: 345px;
      padding-top: 126px;
      margin-right: 0px; }
    main .packages__block .packages__container .packages__item__2, main .packages__block .packages__container .packages__item__3 {
      display: none; }
  main .questions__block {
    margin-top: 70px; }
    main .questions__block .block__title {
      margin-bottom: 30px; }
    main .questions__block .questions__block__container {
      padding: 0 30px; }
      main .questions__block .questions__block__container .list-header {
        width: 100%;
        height: auto;
        padding: 0 0px;
        margin-bottom: 30px; }
        main .questions__block .questions__block__container .list-header::after {
          right: 15px;
          top: 0px; }
      main .questions__block .questions__block__container .list-content {
        width: 100%;
        height: 60px;
        margin-top: 0px;
        margin-bottom: 30px;
        padding: 0px 0px; }
  main .case__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; }
    main .case__block .block__title {
      width: 350px;
      line-height: 40px; }
    main .case__block .tabs {
      max-width: 100%;
      margin: 35px 0; }
      main .case__block .tabs .tabs__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        main .case__block .tabs .tabs__nav .tabs__nav-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 140px;
          max-height: 185px;
          padding: 35px 19px;
          margin: 20px; }
      main .case__block .tabs .tabs__content {
        margin-top: 20px; }
        main .case__block .tabs .tabs__content .tabs__item.active {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center; }
        main .case__block .tabs .tabs__content .tabs__item {
          padding: 30px; }
        main .case__block .tabs .tabs__content .tabs__item, main .case__block .tabs .tabs__content .tabs__item__2 {
          max-width: 100%; }
        main .case__block .tabs .tabs__content #tab_1 ul li:last-child {
          margin-bottom: 20px; }
        main .case__block .tabs .tabs__content .left__content__tabs__item {
          width: 320px; }
          main .case__block .tabs .tabs__content .left__content__tabs__item .title__tabs__item {
            font-weight: 650;
            width: 320px; }
  main .presentation__block {
    margin-top: 50px;
    padding: 0 15px; }
    main .presentation__block .block__title {
      width: 350px;
      margin-bottom: 49px; }
  main .details__block {
    display: none; }

  footer {
    padding: 30px; }
    footer .footer__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      footer .footer__container .footer__block__1 {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 50px; }
        footer .footer__container .footer__block__1 ul {
          width: 120px;
          margin-right: 0px; }
      footer .footer__container .footer__block__2 {
        display: flex;
        flex-direction: column; }
        footer .footer__container .footer__block__2 .adress__block__1, footer .footer__container .footer__block__2 .adress__block__2 {
          width: 100%;
          margin-right: 0px; }
        footer .footer__container .footer__block__2 .grey-text {
          margin-bottom: 30px; }
        footer .footer__container .footer__block__2 .adress__btn {
          width: 100%;
          margin-bottom: 30px; }
        footer .footer__container .footer__block__2 .soc__container {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 60px; } }

/*# sourceMappingURL=adaptive.css.map */
